
<form class="form-detail" id="myform" action="#" form [formGroup]="angForm" (ngSubmit)="postData(angForm)" autocomplete="off" >

    <div class="form-row">
        <label for="username">Name</label>
        <input type="text" name="nom" formControlName="nom"  autocomplete="off" class="input-text" required="required" >
    </div>
    <div class="form-row">
        <label for="fname">First Name</label>
        <input type="text" name="prenom" formControlName="prenom" autocomplete="off" class="input-text" required="required">
    </div>
    <div class="form-row">
        <label for="your_email">E-MAIL</label>
        <input type="text" name="email" formControlName="email" autocomplete="off" class="input-text" required="required">
    </div>
    <div class="form-row">
        <label for="password">telephone</label>
        <input type="password" name="telephone" formControlName="telephone" autocomplete="off" class="input-text" id="telephone" required="required">
    </div>
    <div class="form-row">
        <label for="ville">photo</label>
        <input type="text" name="photo" formControlName="photo" autocomplete="off" class="input-text" required="required">
    </div>
    <div class="form-row">
        <label for="cp">Linkedin</label>
        <input type="number" name="linkedin" formControlName="linkedin" autocomplete="off" class="input-text" required="required">
    </div>
    <div class="form-row">
        <label for="cp">alumni</label>
        <input type="number" name="alumni" formControlName="alumni" autocomplete="off" class="input-text" required="required">
    </div>


    <div class="form-row-last">
        <input type="submit" name="register" class="register" value="Register">
        <p>Or<a href="login">Sign in</a></p>
    </div>
</form>